{# templates/home/index_guest.html.twig #}

<h1>Welcome to Our Website!</h1>
<p>Explore our features and services.</p>

<div>
    <p><a href="{{ path('app_login') }}">Log In</a> | <a href="{{ path('app_register') }}">Sign Up</a></p>
</div>

<h2>Public Content</h2>
<p>This is some public content visible to everyone.</p>

<p>For more features, log in or sign up!</p>
