{% extends 'base.html.twig' %}

{% block title %}Create New Abonnement{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4">Create New Abonnement</h1>

        <div class="card shadow-sm p-4">
            {{ include('abonnement/_form.html.twig', {'button_label': 'Create'}) }}
        </div>

        <a href="{{ path('app_abonnement_index') }}" class="btn btn-secondary mt-3">Back to List</a>
    </div>
{% endblock %}
