{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <h1>Welcome to the Admin Dashboard</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Total Users
                    </div>
                    <div class="card-body">
                        <p>{{ totalUsers }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Total Subscriptions
                    </div>
                    <div class="card-body">
                        <p>{{ totalSubscriptions }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Latest Activity
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Activity 1</li>
                            <li>Activity 2</li>
                            <li>Activity 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <a href="{{ path('app_user_index') }}" class="btn btn-primary">Manage Users</a>
            <a href="{{ path('app_home') }}" class="btn btn-secondary">Back to Home</a>
        </div>
    </div>
{% endblock %}
